$dark-red-color: #750013;
$red-color: #C10516;
$light-red-color: #E66659;
$white-color: #fff;
$light-yellow-color: #F2FBD0;
$dark-color: #230112;
$peach-color: #EEBAA2;
$light-peach-color: #FFE5D9;
$pink-color: #ffd2cd;
$dark-green-color: #325025;
$green-color: #aed96a;